.welcome {
    background-color: var(--bg-primary);
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .welcome h1 {
        font-size: 23px;
    }
}

.courses .container.grid {
    padding: var(--spacing-medium) var(--spacing-small);
}

.courses .container.grid p.main-paragraph {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
}

.courses h2 {
    padding-top: var(--spacing-large);
}

.courses h2, .courses p.main-paragraph {
    text-align: center;
}

.courses .courses-container {
    margin-bottom: var(--spacing-large);
    display: flex;
    flex-wrap: wrap;
}

.courses .course-wrapper {
    width: calc(100% / 3);
    padding-right: var(--spacing-small);
    padding-left: var(--spacing-small);
}

.courses .course {
    width: 100%;
    padding: var(--spacing-tiny);
    border: 1px solid var(--text-secondary);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-medium);
}

.courses .presentation-image {
    width: 100%;
    height: auto;
    margin-bottom: var(--spacing-large);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.courses h3 {
    color: var(--text-primary);
}

.courses .microsoft-logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
}

.courses span, .courses .certification {
    font-size: var(--fs-medium);
    color: #666;
}

.courses .material-symbols-outlined {
    vertical-align: middle;
}

.courses h3, .courses .certification, 
.courses .details, .courses a {
    margin-bottom: var(--spacing-medium);
}

.courses .content {
    padding: 0 var(--spacing-small);
}

.courses a {
    font-size: var(--fs-medium);
    text-align: center;
    background-color: var(--button-color);
    color: var(--text-white);
    border: 1px solid var(--button-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-tiny);
    width: 100px;
}

.courses .img-link-details {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.courses a:hover {
    color: var(--text-secondary);
}

.courses .microsoft-logo, 
.courses .duration-month,
.courses .duration-hours {
    margin-left: var(--spacing-small);
}

@media (max-width: 992px) {
    .courses .course-wrapper {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .courses .course-wrapper {
        width: 100%;
    }
}

