.welcome {
    background-color: var(--bg-primary);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .welcome h1 {
        font-size: 32px;
    }
}

.course-details {
    display: flex;
    margin-top: var(--spacing-large);
    gap: var(--spacing-medium);
}

.course-img {
    padding-top: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
    width: 30%;
}

.course-img img {
    width: 100%;
    height: auto;
}

.course-content {
    width: 70%;
    font-size: var(--fs-medium);
    color: var(--text-primary)
}

.course-content ul {
    list-style-type: circle;
    margin: var(--spacing-medium);
}

.course-content p:first-of-type {
    margin-bottom: var(--spacing-medium);
    margin-top: var(--spacing-large);
}

@media (max-width: 768px) {
    .course-details {
        flex-direction: column;
    }
    .course-content, .course-img {
        width: 100%;
    }
}

.course-content .content {
    padding: 0 var(--spacing-small);
}

.course-content h3 {
    color: var(--text-primary);
    margin-top: var(--spacing-small);
}

.course-content .microsoft-logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
}

.course-content span, .course-content .certification {
    font-size: var(--fs-medium);
    color: #666;
}

.course-content .microsoft-logo, 
.course-content .duration-month,
.course-content .duration-hours {
    margin-left: var(--spacing-small);
}

.course-content h3, .course-content .certification, 
.course-content .details {
    margin-bottom: var(--spacing-medium);
}

.course-content li {
    padding: var(--spacing-tiny);
}